Repository benwebber/protosearch: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, buf-format, buf-lint

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  language: system
  pass_filenames: false
  entry: cargo clippy --all-targets --all-features -- -D warnings

buf-format:
  name: buf format
  entry: buf format -w
  language: system
  pass_filenames: false

buf-lint:
  name: buf lint
  entry: buf lint
  language: system
  pass_filenames: false

Remove unnecessary output type
  README.md
  crates/protosearch-plugin/src/mapping.rs
  crates/protosearch-plugin/src/plugin.rs
  doc/reference.md
  proto/protosearch/protosearch.proto
  proto/tests/tests.proto
Due: cargo-fmt, cargo-clippy, buf-format, buf-lint

Destructure CodeGeneratorRequest with Context
  crates/protosearch-plugin/src/context.rs
  crates/protosearch-plugin/src/lib.rs
  crates/protosearch-plugin/src/main.rs
  crates/protosearch-plugin/src/plugin.rs
Due: cargo-fmt, cargo-clippy

Eliminate allocation in get_mapping_options
  crates/protosearch-plugin/src/plugin.rs
Due: cargo-fmt, cargo-clippy

Remove special case for type parameter
  crates/protosearch-plugin/src/mapping.rs
  crates/protosearch-plugin/src/plugin.rs
Due: cargo-fmt, cargo-clippy

Fix documentation
  ARCHITECTURE.md
  doc/reference.md
Due: none

Fix type of subobjects
  crates/protosearch-plugin/src/snapshots/protosearch_plugin__tests__no_target.snap
  crates/protosearch-plugin/src/snapshots/protosearch_plugin__tests__target.snap
  proto/protosearch/protosearch.proto
  proto/tests/tests.proto
Due: buf-format, buf-lint

Mark error type non-exhaustive
  crates/protosearch-plugin/src/error.rs
Due: cargo-fmt, cargo-clippy

Return enum value error as proper error
  crates/protosearch-plugin/src/error.rs
  crates/protosearch-plugin/src/mapping.rs
  crates/protosearch-plugin/src/plugin.rs
Due: cargo-fmt, cargo-clippy

Lay foundation for diagnostics
  crates/protosearch-plugin/src/diagnostic.rs
  crates/protosearch-plugin/src/lib.rs
  crates/protosearch-plugin/src/main.rs
  crates/protosearch-plugin/src/plugin.rs
Due: cargo-fmt, cargo-clippy

Move JSON errors to diagnostics
  crates/protosearch-plugin/src/diagnostic.rs
  crates/protosearch-plugin/src/error.rs
  crates/protosearch-plugin/src/lib.rs
  crates/protosearch-plugin/src/plugin.rs
Due: cargo-fmt, cargo-clippy

Sketch validator
  Cargo.lock
  crates/protosearch-plugin/Cargo.toml
  crates/protosearch-plugin/src/lib.rs
  crates/protosearch-plugin/src/plugin.rs
  crates/protosearch-plugin/src/validator.rs
Due: cargo-fmt, cargo-clippy

Validate field names
  crates/protosearch-plugin/src/lib.rs
  crates/protosearch-plugin/src/validator.rs
  proto/tests/tests.proto
Due: cargo-fmt, cargo-clippy, buf-format, buf-lint

Forward filename, message, and field name
  crates/protosearch-plugin/src/diagnostic.rs
  crates/protosearch-plugin/src/lib.rs
  crates/protosearch-plugin/src/plugin.rs
  crates/protosearch-plugin/src/validator.rs
  proto/tests/tests.proto
Due: cargo-fmt, cargo-clippy, buf-format, buf-lint

Remove unnecessary generic
  crates/protosearch-plugin/src/diagnostic.rs
  crates/protosearch-plugin/src/plugin.rs
  crates/protosearch-plugin/src/validator.rs
Due: cargo-fmt, cargo-clippy

Add location to invalid target JSON diagnostics
  crates/protosearch-plugin/src/plugin.rs
Due: cargo-fmt, cargo-clippy

Forward message descriptor to checks
  crates/protosearch-plugin/src/lib.rs
  crates/protosearch-plugin/src/options.rs
  crates/protosearch-plugin/src/plugin.rs
  crates/protosearch-plugin/src/validator.rs
Due: cargo-fmt, cargo-clippy

Forward source code span to checks
  crates/protosearch-plugin/src/diagnostic.rs
  crates/protosearch-plugin/src/lib.rs
  crates/protosearch-plugin/src/plugin.rs
  crates/protosearch-plugin/src/span.rs
  crates/protosearch-plugin/src/validator.rs
Due: cargo-fmt, cargo-clippy

Validate ignore_above and position_increment_gap
  crates/protosearch-plugin/src/diagnostic.rs
  crates/protosearch-plugin/src/lib.rs
  crates/protosearch-plugin/src/validator.rs
  proto/tests/tests.proto
Due: cargo-fmt, cargo-clippy, buf-format, buf-lint

Make dynamic an enum
  crates/protosearch-plugin/src/lib.rs
  crates/protosearch-plugin/src/mapping.rs
  crates/protosearch-plugin/src/snapshots/protosearch_plugin__tests__dynamic.snap
  proto/protosearch/protosearch.proto
  proto/tests/tests.proto
Due: cargo-fmt, cargo-clippy, buf-format, buf-lint

Make index_options an enum
  crates/protosearch-plugin/src/lib.rs
  crates/protosearch-plugin/src/mapping.rs
  crates/protosearch-plugin/src/snapshots/protosearch_plugin__tests__index_options.snap
  proto/protosearch/protosearch.proto
  proto/tests/tests.proto
Due: cargo-fmt, cargo-clippy, buf-format, buf-lint

Make term_vector an enum
  crates/protosearch-plugin/src/lib.rs
  crates/protosearch-plugin/src/mapping.rs
  crates/protosearch-plugin/src/snapshots/protosearch_plugin__tests__term_vector.snap
  proto/protosearch/protosearch.proto
  proto/tests/tests.proto
Due: cargo-fmt, cargo-clippy, buf-format, buf-lint

Add error codes
  crates/protosearch-plugin/src/diagnostic.rs
  crates/protosearch-plugin/src/lib.rs
  crates/protosearch-plugin/src/validator.rs
Due: cargo-fmt, cargo-clippy

Document validation
  doc/reference.md
Due: none

Simplify enum serialization
  crates/protosearch-plugin/src/mapping.rs
Due: cargo-fmt, cargo-clippy

Fix assertions in invalid field value tests
  crates/protosearch-plugin/src/lib.rs
Due: cargo-fmt, cargo-clippy

Simplify integer checks
  crates/protosearch-plugin/src/validator.rs
Due: cargo-fmt, cargo-clippy

Add note about validation to architecture document
  ARCHITECTURE.md
Due: none

Optimize release build
  Cargo.toml
Due: none

Remove unnecessary enum InferredType
  crates/protosearch-plugin/src/mapping.rs
  crates/protosearch-plugin/src/plugin.rs
Due: cargo-fmt, cargo-clippy

Refactor compile_message to accumulate diagnostics
  crates/protosearch-plugin/src/plugin.rs
Due: cargo-fmt, cargo-clippy

Remove unnecessary Validator type
  crates/protosearch-plugin/src/validator.rs
Due: cargo-fmt, cargo-clippy

Model union of common parameters; correct fielddata and subobjects types
  crates/protosearch-plugin/src/lib.rs
  crates/protosearch-plugin/src/mapping.rs
  crates/protosearch-plugin/src/snapshots/protosearch_plugin__tests__fielddata.snap
  crates/protosearch-plugin/src/snapshots/protosearch_plugin__tests__no_target.snap
  crates/protosearch-plugin/src/snapshots/protosearch_plugin__tests__target.snap
  crates/protosearch-plugin/src/validator.rs
  doc/reference.md
  proto/protosearch/protosearch.proto
  proto/tests/tests.proto
Due: cargo-fmt, cargo-clippy, buf-format, buf-lint

Refactor IR using FieldMapping
  ARCHITECTURE.md
  crates/protosearch-plugin/src/mapping.rs
  crates/protosearch-plugin/src/plugin.rs
  crates/protosearch-plugin/src/validator.rs
Due: cargo-fmt, cargo-clippy

Simplify mapping
  crates/protosearch-plugin/src/mapping.rs
Due: cargo-fmt, cargo-clippy

Implement diagnostic severity; suppress output on error
  crates/protosearch-plugin/src/diagnostic.rs
  crates/protosearch-plugin/src/main.rs
  crates/protosearch-plugin/src/plugin.rs
  crates/protosearch-plugin/src/validator.rs
Due: cargo-fmt, cargo-clippy

Treat unsupported enums as programming error
  crates/protosearch-plugin/src/error.rs
  crates/protosearch-plugin/src/mapping.rs
Due: cargo-fmt, cargo-clippy

Do not include warnings in error output
  crates/protosearch-plugin/src/main.rs
Due: cargo-fmt, cargo-clippy

Clarify skipping UNSPECIFIED values
  crates/protosearch-plugin/src/mapping.rs
Due: cargo-fmt, cargo-clippy

Validate target parameter
  crates/protosearch-plugin/src/config.rs
  crates/protosearch-plugin/src/context.rs
  crates/protosearch-plugin/src/lib.rs
Due: cargo-fmt, cargo-clippy

Fix context for nested messages
  crates/protosearch-plugin/src/lib.rs
  crates/protosearch-plugin/src/mapping.rs
  crates/protosearch-plugin/src/plugin.rs
  crates/protosearch-plugin/src/validator.rs
  proto/tests/tests.proto
Due: cargo-fmt, cargo-clippy, buf-format, buf-lint

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  buf-format: any of: \.proto$
  buf-lint: any of: \.proto$
