Repository benwebber/protosearch: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, buf-format, buf-lint

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  language: system
  pass_filenames: false
  entry: cargo clippy --all-targets --all-features -- -D warnings

buf-format:
  name: buf format
  entry: buf format -w
  language: system
  pass_filenames: false

buf-lint:
  name: buf lint
  entry: buf lint
  language: system
  pass_filenames: false

Emit warning for unknown target label
  crates/protosearch-plugin/src/diagnostic.rs
  crates/protosearch-plugin/src/lib.rs
  crates/protosearch-plugin/src/plugin.rs
Due: cargo-fmt, cargo-clippy

Document new diagnostics
  crates/protosearch-plugin/src/diagnostic.rs
  doc/reference.md
Due: cargo-fmt, cargo-clippy

Add changelog
  CHANGELOG.md
Due: none

Update changelog for 0.2.0
  CHANGELOG.md
Due: none

Release 0.2.0
  Cargo.lock
  Cargo.toml
  tbump.toml
Due: none

Reverse `field` and `mapping` in extension names
  ARCHITECTURE.md
  README.md
  crates/protosearch-plugin/src/options.rs
  crates/protosearch-plugin/src/plugin.rs
  crates/protosearch-plugin/src/validator.rs
  doc/reference.md
  proto/protosearch/protosearch.proto
  proto/tests/tests.proto
Due: cargo-fmt, cargo-clippy, buf-format, buf-lint

Only compile test proto descriptor for tests
  crates/protosearch-plugin/build.rs
Due: cargo-fmt, cargo-clippy

Model index options
  buf.yaml
  proto/protosearch/protosearch.proto
Due: buf-format, buf-lint

Move test descriptor build out of build script
  crates/protosearch-plugin/Cargo.toml
  crates/protosearch-plugin/build.rs
  crates/protosearch-plugin/src/lib.rs
Due: cargo-fmt, cargo-clippy

Add note about extension name to changelog
  CHANGELOG.md
Due: none

Add index extension
  CHANGELOG.md
  README.md
  crates/protosearch-plugin/src/lib.rs
  crates/protosearch-plugin/src/mapping.rs
  crates/protosearch-plugin/src/options.rs
  crates/protosearch-plugin/src/plugin.rs
  crates/protosearch-plugin/src/snapshots/protosearch_plugin__tests__index_params.snap
  crates/protosearch-plugin/src/snapshots/protosearch_plugin__tests__no_target.snap
  crates/protosearch-plugin/src/snapshots/protosearch_plugin__tests__target.snap
  doc/reference.md
  proto/tests/tests.proto
Due: cargo-fmt, cargo-clippy, buf-format, buf-lint

Move index mapping options to `mapping` field
  README.md
  crates/protosearch-plugin/src/mapping.rs
  doc/reference.md
  proto/protosearch/protosearch.proto
  proto/tests/tests.proto
Due: cargo-fmt, cargo-clippy, buf-format, buf-lint

Infer google.protobuf.Timestamp as date
  CHANGELOG.md
  crates/protosearch-plugin/src/plugin.rs
  crates/protosearch-plugin/src/snapshots/protosearch_plugin__tests__infer_type.snap
  proto/tests/tests.proto
Due: cargo-fmt, cargo-clippy, buf-format, buf-lint

Pretty-print output
  CHANGELOG.md
  README.md
  crates/protosearch-plugin/src/config.rs
  crates/protosearch-plugin/src/context.rs
  crates/protosearch-plugin/src/plugin.rs
  doc/reference.md
Due: cargo-fmt, cargo-clippy

Fix links to mapping metadata fields
  proto/protosearch/protosearch.proto
Due: buf-format, buf-lint

Add example
  example/README.md
  example/buf.gen.yaml
  example/buf.yaml
  example/gen/default/pub.v1.Article.json
  example/gen/default/pub.v1.Author.json
  example/gen/elasticsearch/pub.v1.Article.json
  example/gen/elasticsearch/pub.v1.Author.json
  example/gen/opensearch/pub.v1.Article.json
  example/gen/opensearch/pub.v1.Author.json
  example/proto/protosearch
  example/proto/pub/v1/article.proto
  example/proto/pub/v1/author.proto
Due: buf-format, buf-lint

Document date inference
  doc/reference.md
Due: none

Collect coverage
  .github/workflows/ci.yaml
  README.md
Due: none

Exclude experimental vendor crate
  .github/workflows/ci.yaml
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  buf-format: any of: \.proto$
  buf-lint: any of: \.proto$
